fastapi-mcp==0.3.7
fastapi==0.116.1
fastembed==0.7.1
google-cloud-storage==3.2.0
google-cloud==0.34.0
google-genai==1.25.0
pdfminer-six==20250506
pdfminer==20191125
python-dotenv==1.1.1
qdrant-client==1.14.3
uvicorn==0.35.0